In [16]:
import pandas as pd

ian_alevy_missions=['Ian Alevy',1,1,0,1,1,0,0]
alex_iosevich_missions=['Alex Iosevich',1,1,0,1,0,1,1]
sevak_mkrtchyan_missions=['Sevak Mkrtchyan',1,1,0,0,0,0,0]
azita_mayeli_missions=['Azita Mayeli',1,0,1,1,1,0,1]

data = [ian_alevy_missions, alex_iosevich_missions,sevak_mkrtchyan_missions,azita_mayeli_missions ]

# Creates a list needed for the creationg of the dataframe
  
df = pd.DataFrame(data, columns = ['Agent','Organizer','Instructor','Recitation Instructor','Python Instructor',
                                    'Python Team G.I.Joe','Python Team Cobra','Mentors'])

# Creates the dataframe

df

# Sets "Name" as the index column

,Agent,Organizer,Instructor,Recitation Instructor,Python Instructor,Python Team G.I.Joe,Python Team Cobra,Mentors
0,Ian Alevy,1,1,0,1,1,0,0
1,Alex Iosevich,1,1,0,1,0,1,1
2,Sevak Mkrtchyan,1,1,0,0,0,0,0
3,Azita Mayeli,1,0,1,1,1,0,1

In [7]:
list_warriors=['mkrtchyan','iosevich','windes','aten','alevy','mayeli','luo','juvekar','lin','nadjimzadeh',
               'senger','yildirim','zhai']

list_warriors.sort()

list_warriors

['alevy',
 'aten',
 'iosevich',
 'juvekar',
 'lin',
 'luo',
 'mayeli',
 'mkrtchyan',
 'nadjimzadeh',
 'senger',
 'windes',
 'yildirim',
 'zhai']